<!DOCTYPE html>
<html lang="et">

<head>
	<meta charset="utf-8">
	<title>Anette Aruorg, veebiprogrammerimine</title>
</head>
<body>
	<img src="/images/vp_banner_2025_ID.jpg" alt="kursuse bänner">
	<h1>Tere tulemast!</h1>
	<p>See leht on tehtud <a href="https://www.tlu.ee/dt">TLÜ</a> veebiprogrammerimise kursusel ja ei sisalda mõistlikku sisu:)</p>
	<hr>
	<ul>
	<li><a href = "/">Avalehele</a></li>
	<h2><%=heading%></h2>
	<ol>
	<% listData.forEach(function(ListItem){ %>
		<li><%=listItem%></li><% }); %>
	</ol>
</body>
</html>