<!DOCTYPE html>
<html lang="et">

<head>
	<meta charset="utf-8">
	<title>Anette Aruorg, veebiprogrammerimine</title>
</head>
<body>
	<img src="/images/vp_banner_2025_ID.jpg" alt="kursuse bänner">
	<h1>Tere tulemast!</h1>
	<p>See leht on tehtud <a href="https://www.tlu.ee/dt">TLÜ</a> veebiprogrammerimise kursusel ja ei sisalda mõistlikku sisu:)</p>
	<hr>
	<h2>Siit leiab</h2>
	<ul>
	<li><a href="/timenow">Ajainfo</a></li>
	<li><a href= "/vanasonad">Valik vanasõnu</a></li>
	<li><a href="regVisit">Registreeri oma külastus</a></li>
	</ul>
	
</body>
</html>